.emptyStateBox {
  /* border: 0px solid var(--opacity-neutral-darkest-15); */
  border-radius: 24px;
  padding: 20px;

  width: 335px;
  height: 195px;
  max-width: 768px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: var(--color-scheme-2-foreground);

  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}
@media only screen and (min-width: 768px) {
  .emptyStateBox {
    padding: 40px 32px;
    width: 533px;
    height: 210px;
  }
}

@media only screen and (min-width: 1440px) {
  .emptyStateBox {
    height: 268px;
  }
}

.emptyStateButton {
  border: 1px solid var(--color-royal-blue);
  border-radius: 8px;
  padding: 6px 12px;
  width: 295px;
  height: 48px;
}
@media only screen and (min-width: 768px) {
  .emptyStateButton {
    width: 186px;
    height: 48px;
  }
}

@media only screen and (min-width: 1440px) {
  .emptyStateButton {
    width: 206px;
    height: 48px;
  }
}
