.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: grey;
    padding: 16px 20px;
    width: 100%;
    height: 72px;
    z-index: 2;
    
}
.headerContainer {
    max-width: 375px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    
}
.navList {
    display: none;
}
.navItem {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    color: #1d1d1d;
}
.burger {
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 12px;
        border: 1px solid var(--color-scheme-2-border);
        border-radius: 8px;
        padding: 4px;
        width: 32px;
        height: 32px;
}