.background {
    position: fixed;
    inset: 0;
    background: #F7F9FF;
    z-index: 999;
}

.wrapper {
    min-width: 320px;
    max-width: 375px;
    height: 100%;
    background: transparent;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
@media (min-width: 768px) {
    .wrapper {
        min-width: 768px;
    }

}
.header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    
}
.logo {
    width: 156px;
    height: 36px;
    text-align: center;
}
.closeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px solid var(--color-scheme-2-border);
    border-radius: 8px;
    padding: 4px;
    width: 32px;
    height: 32px;
    background-color: #00000005;
    border: 1px solid #00000015;
}
.navList {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 32px auto;
}
.navList li {
    margin-top: 32px;
}
.navItem a {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}