.button {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
}

.button {
  border: 1px solid var(--color-royal-blue);
  border-radius: 8px;
  padding: 6px 12px;
  width: 335px;
  height: 39px;

  background: var(--color-royal-blue);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .button {
    width: 115px;
    height: 39px;
  }
}

@media screen and (min-width: 1440px) {
  .button {
    width: 126px;
  }
}
