/* src/components/Button/Button.module.css */

.button {
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
