.toggle {
  max-width: 335px;
  width: 100%;
  display: flex;
  background: #e8eeff;
  border-radius: 10px;
  padding: 4px;
  margin-bottom: 40px;
}

.link {
  display: flex;
  flex: 1;
  padding: 12px 8px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.active {
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background: #f7f9ff;
}

@media screen and (min-width: 768px) {
  .toggle {
    max-width: 422px;
  }
}
