.hero {
  position: relative;
  overflow: hidden;

  width: 100vw;
}

.picture {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title,
.description {
  position: relative;
  z-index: 2;
}

.heroContainer {
  max-width: 100%;
  display: block;
  padding-top: 196px;
  padding-bottom: 331px;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: var(--color-white);

  margin-bottom: 24px;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);

  margin-bottom: 32px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .heroContainer {
    padding-top: 244px;
    padding-bottom: 117px;
  }

  .title {
    font-size: 48px;
    width: 612px;
    /* padding-right: 92px; */
  }
}

@media screen and (min-width: 1440px) {
  .heroContainer {
    max-width: 759px;
    padding-bottom: 347px;
  }

  .title {
    font-size: 56px;
    width: 759px;
  }
  .description {
    font-size: 20px;
  }
}
