:global(.modal-overlay) {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
.modalCloseBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  color: var(--color-text);
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-page-background);
  padding: 20px;
  padding-top: 64px;
  border-radius: 12px;
  max-width: 335px;
}
.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;

  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modalTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-scheme-1-text);
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.modalText {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--color-scheme-1-text);
  text-align: center;
  margin-bottom: 32px;
}

.modalButtonsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.modalButton {
  width: 100% !important;
}
@media screen and (min-width: 768px) {
  .modalContent {
    padding: 64px 32px;
    max-width: 704px;
  }
  .modalTitle {
    font-size: 32px;
  }
  .modalButtonsWrapper {
    flex-direction: row;
    max-width: 430px;
  }
}
@media screen and (min-width: 1440px) {
  .modalContent {
    padding: 64px;
    max-width: 768px;
  }
  .modalTitle {
    font-size: 48px;
  }
  .modalText {
    font-size: 20px;
  }
}
