.navigationItem {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 4px;
}
.navigationItem a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
}
.login {
    background-color: #00000005;
    border: 1px solid #00000015;
}
.register {
    background-color: #4169E1;
    border: 1px solid #4169E1;
}

.register a {
    color: #FFFFFF;
}

.mobile {
    height: 32px;
    width: 335px;
    margin-bottom: 16px;
}
.desktop {
    height: 35px;
    padding: 4px 10px;
    margin-left: 16px;
}
