.navigationItem {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.navigationItem a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
}

.login {
    background-color: #00000005;
    border: 1px solid #00000015;
    
}

.register {
    background-color: #4169E1;
    border: 1px solid #4169E1;

}

.register a {
    color: #FFFFFF;
}

.mobile {
    margin-bottom: 16px;
}

.desktop {
    height: 35px;
    padding: 4px 10px;
}
.mobile .login {
    margin-bottom: 16px;
}
.desktop .homeLoginBtn {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    
}

.desktop .homeLoginBtn a {
    color: #fff;
}

.desktop .homeRegisterBtn  {
    background: #fff;
    border: 1px solid #fff;
}

.desktop .homeRegisterBtn a {
    color: #000;
}
.avatarWrapper {
    width: 32;
    height: 32;
    margin-right: 8px;
}
.avatar {
    border-radius: 50%;
    object-fit: cover;
}
.userName {
    margin: 0;
    color: #000;
    padding-right: 8px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.homeUserName.userName {
    color: #f7f9ff;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.logoutButton {
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 8px;
}
.homeLogout.logoutButton {
    color: #f7f9ff;
}
.mobile.homeLogout  {
    color: #000;
}
.mobile.homeUserName {
    color: #000;
}
.mobile .navigationItem{
    height: 32px;
    width: 335px;
}
.desktop.authWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.desktop.authWrapper .navigationItem {
    padding: 4px 10px;
}