.container {
  padding-top: 40px;
  padding-bottom: 80px;
  min-height: 80vh;
  font-family: var(--font-nunito-sans), sans-serif;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 24px;
  text-align: center;
}

.grid {
  display: grid;
  grid-auto-rows: 1fr;
  align-items: stretch;
  justify-content: stretch;
  gap: 24px;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .title {
    font-size: 48px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 56px;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #4169e1;
  height: 200px;
}

.loadMoreButton {
  width: 135px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  background-color: #4f2ee8;
  border: 1px solid #4f2ee8;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.loadMoreButton:hover,
.loadMoreButton:focus {
  color: #000;
  background-color: #e8eeff;
  border: 1px solid #4169e1;
  transform: translateY(-2px);
}

.loadMoreButton.loading {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: not-allowed;
}

.loadMoreButton:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.desktopOnlyCard {
  display: none;
}

@media (min-width: 1200px) {
  .desktopOnlyCard {
    display: block;
  }
}
