.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px;
}
.avatar {
  border-radius: 50%;
}
.info_content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}
.name {
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
}
.info_text.info_text {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #000;
}
