.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  max-width: 311px;
  width: 100%;
  margin: 32px 12px;
}
.avatar {
  border-radius: 50%;
}
.info_content {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  box-sizing: border-box;
}
.name {
  font-family: var(--font-inter);
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  width: 100%;
  text-align: center;
  color: var(----color-scheme-2-text-family);
}
.info_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  width: 100%;
  padding: 0;
  text-align: center;
  /* text-wrap: balance; */
  color: var(----color-scheme-2-text-family);
}

@media screen and (min-width: 768px) {
  .info {
    align-items: center;
    flex-direction: row;
    margin: 32px 0;
    max-width: 704px;
  }

  .info_content {
    align-items: start;
    flex-direction: column;
    gap: 0;
  }

  .info_text {
    text-align: start;
  }
}

@media screen and (min-width: 1440) {
  .info {
    max-width: 590px;
  }
}
