:root {
  --font-family: var(--font-nunito-sans);
  --second-family: var(--font-inter);
}

body {
  font-family: var(--font-family), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #ffffff;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    --container-padding: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: var(--container-width);
    --container-padding: 64px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
