:root {
  --font-family: var(--font-nunito-sans);
  --second-family: var(--font-inter);
}

body {
  font-family: var(--font-family), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
}