.containerStories {
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
}

.pageTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .containerStories {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .pageTitle {
    font-size: 48px;
  }
}

@media only screen and (min-width: 1440px) {
  .containerStories {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .pageTitle {
    font-size: 56px;
  }
}

.categoryList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  outline: none;
  border: none;
  padding: 0;
  margin-bottom: 40px;
}

.categoryButton {
  border: 1px solid var(--opacity-transparent);
  border-radius: 8px;
  padding: 6px 10px;
  background-color: var(--opacity-transparent);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--light-theme-text);
}

.categoryButton:hover,
.categoryButton:focus {
  cursor: pointer;
  background-color: var(--color-neutral-lightest);
}

.categoryButtonActive {
  background-color: var(--color-neutral-lightest);
}

@media only screen and (min-width: 1440px) {
  .categoryButton {
    padding: 6px 12px;
    font-size: 18px;
    color: var(--light-theme-text);
  }
}
