.container {
  margin: 0 auto;
  width: 100%;
  max-width: 375px;
  padding: 64px 20px;
}



.pageTitle {
font-family: var(--second-family);
font-weight: 700;
font-size: 32px;
line-height: 110%;
letter-spacing: -0.01em;
text-align: center;
color: #000;
}

@media only screen and (min-width: 768px) {
  .container {
     max-width: 768px;
    padding: 64px 32px;
  }

  .pageTitle {
font-size: 48px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
     max-width: 1440px;
    padding: 72px 64px;
  }

  .pageTitle {
font-size: 56px;
  }
}
