.containerStories {
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
}

.pageTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .containerStories {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .pageTitle {
    font-size: 48px;
  }
}

@media only screen and (min-width: 1440px) {
  .containerStories {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .pageTitle {
    font-size: 56px;
  }
}
