.containerPopular {
  margin: 0 auto;
  width: 100%;
  max-width: 375px;
  padding-top: 64px;
  padding-bottom: 64px;
}

@media only screen and (min-width: 768px) {
  .containerPopular {
    max-width: 768px;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .containerPopular {
    max-width: 1440px;
    padding-top: 72px;
    padding-bottom: 72px;
  }
}

.sectionTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 24px;
}

.buttonWrapper {
  display: none;
}

.paginationButton {
  display: none;
}

@media only screen and (min-width: 768px) {
  .sectionTitle {
    font-size: 44px;
  }

  .buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .paginationButton {
    margin: 0 auto;
    display: inline-block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    border: 1px solid #4169e1;
    border-radius: 8px;
    padding: 12px;
    background: #4169e1;
    transition: all 0.3s ease-in-out;
  }
}

@media only screen and (min-width: 1440px) {
  .sectionTitle {
    font-size: 52px;
    margin-bottom: 40px;
  }

  .paginationButton {
    font-size: 18px;
  }
}

.paginationButton:hover,
.paginationButton:focus {
  background-color: var(--color-accent-lighter);
  color: var(--light-scheme-text);
  border: 1px solid var(--color-accent);
}

.paginationButton:active {
  background-color: var(--color-accent-light);
  color: var(--light-scheme-text);
}

.paginationButton:disabled {
  background-color: var(--color-accent-light);
  opacity: 0.3;
  color: var(--light-scheme-background);
}
