.containerPopular {
  margin: 0 auto;
  width: 100%;
  max-width: 375px;
  padding-top: 64px;
  padding-bottom: 64px;
}

@media only screen and (min-width: 768px) {
  .containerPopular {
    max-width: 768px;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .containerPopular {
    max-width: 1440px;
    padding-top: 72px;
    padding-bottom: 72px;
  }
}

.sectionTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-text);
  margin-bottom: 24px;
}

.buttonWrapper {
  display: none;
}

.paginationButton {
  display: none;
}

@media only screen and (min-width: 768px) {
  .sectionTitle {
    font-size: 44px;
  }

  .buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1440px) {
  .sectionTitle {
    font-size: 52px;
    margin-bottom: 40px;
  }
}
