.travellerStoriesList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 40px;
}

.paginationButton {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  border: 1px solid #4169e1;
  border-radius: 8px;
  padding: 6px 12px;
  width: 163px;
  height: 48px;
  background: #4169e1;
}
