.travellerStoriesList {
  display: grid;
  gap: 24px;
  width: 100%;
  margin-bottom: 24px;
}

.loaderWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .travellerStoriesList {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .travellerStoriesList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1440px) {
  .travellerStoriesList {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginationButton {
  margin: 0 auto;
  display: inline-block;
  font-family: var(--font-nunito-sans);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  border-radius: 8px;
  padding: 12px;
}

@media only screen and (min-width: 768px) {
  .buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .paginationButton {
    margin: 0 auto;
    display: inline-block;
    font-family: var(--font-nunito-sans);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    border-radius: 8px;
    padding: 12px;
  }
}

@media only screen and (min-width: 1440px) {
  .paginationButton {
    font-size: 18px;
  }
}
