.travellerStoriesList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 24px;
}

@media only screen and (min-width: 1440px) {
  .travellerStoriesList {
    margin-bottom: 40px;
  }
}
