.travellerStoriesList {
  display: grid;
  gap: 24px;
  width: 100%;
  margin-bottom: 24px;
}

.loaderWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .travellerStoriesList {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .travellerStoriesList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1440px) {
  .travellerStoriesList {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
  }
}

.buttonWrapper {
  display: none;
}
.paginationButton {
  display: none;
}

@media only screen and (min-width: 768px) {
  .buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .paginationButton {
    margin: 0 auto;
    display: inline-block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    border: 1px solid #4169e1;
    border-radius: 8px;
    padding: 12px;
    background: #4169e1;
    transition: all 0.3s ease-in-out;
  }
}

@media only screen and (min-width: 1440px) {
  .paginationButton {
    font-size: 18px;
  }
}

.paginationButton:hover,
.paginationButton:focus {
  background-color: var(--color-accent-lighter);
  color: var(--light-scheme-text);
  border: 1px solid var(--color-accent);
}

.paginationButton:active {
  background-color: var(--color-accent-light);
  color: var(--light-scheme-text);
}

.paginationButton:disabled {
  background-color: var(--color-accent-light);
  opacity: 0.3;
  color: var(--light-scheme-background);
}
