.travellerStoryItem {
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  width: 335px;
  height: 575px;
  background-color: #e8eeff;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .travellerStoryItem {
    max-width: 340px;
    height: 578px;
  }
}
@media only screen and (min-width: 1440px) {
  .travellerStoryItem {
    max-width: 421px;
    height: 677px;
  }
}
.storyThumbnailWrapper {
  position: relative;
  width: 335px;
  height: 223px;
}

.storyThumbnail {
  display: block;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .storyThumbnailWrapper {
    width: 340px;
    height: 226px;
  }
}
@media only screen and (min-width: 1440px) {
  .storyThumbnailWrapper {
    width: 100%;
    height: 280px;
  }
}

.storyWrapper {
  padding: 24px;
}

.storyContents {
  margin-bottom: 24px;
}

.regionTag {
  margin-bottom: 8px;
  font-family: var(--font-nunito-sans);
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #000;
  margin: 0;
}

@media only screen and (min-width: 1440px) {
  .regionTag {
    font-size: 16px;
  }
}

.storyTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 80px;
  font-family: var(--font-nunito-sans);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #000;
  margin: 0;
  margin-bottom: 8px;
}
@media only screen and (min-width: 1440px) {
  .storyTitle {
    font-size: 26px;
  }
}

.storyText {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--font-nunito-sans);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000;
  margin: 0;
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1440px) {
}

.storyAuthor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1440px) {
}

.authorAvatar {
  border-radius: 50%;
  margin-right: 16px;
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1440px) {
}

.authorName {
  font-family: var(--font-nunito-sans);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin: 0;
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1440px) {
}

.storyInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1440px) {
}

.storyDate {
  font-family: var(--font-nunito-sans);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin: 0;
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1440px) {
}

.numberOfSaves {
  font-family: var(--font-nunito-sans);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 2px;
}

.storyDetailsLink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-nunito-sans);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #000;

  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 315px;
  height: 48px;

  background-color: rgba(0, 0, 0, 0.05);
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1440px) {
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.saveButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.05);
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1440px) {
}

.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ------------------------TABLET STYLES ------------------------ */
@media only screen and (min-width: 768px) {
  .travellerStoryItem {
    border: 0px solid rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    width: 421px;
    height: 677px;
    background-color: #e8eeff;
    overflow: hidden;
  }

  .storyThumbnail {
    display: block;
  }

  .storyWrapper {
    padding: 24px;
  }

  .storyContents {
    margin-bottom: 24px;
  }

  .regionTag {
    margin-bottom: 8px;
  }

  .storyTitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: var(--font-nunito-sans);
    font-weight: 700;
    font-size: 26px;
    line-height: 150%;
    color: #000;
    margin: 0;
    margin-bottom: 8px;
  }

  .storyText {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: var(--font-nunito-sans);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #000;
    margin: 0;
  }

  .storyAuthor {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
  }

  .authorAvatar {
    border-radius: 50%;
    margin-right: 16px;
  }

  .authorInfo {
  }

  .authorName {
    font-family: var(--font-nunito-sans);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #000;
    margin: 0;
  }

  .storyInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  .storyDate {
    font-family: var(--font-nunito-sans);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
    margin: 0;
  }

  .separator {
  }

  .numberOfSaves {
    font-family: var(--font-nunito-sans);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
    margin: 0;
  }

  .storyDetailsLink {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-nunito-sans);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #000;

    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 315px;
    height: 48px;

    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none;
  }

  .buttonsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .saveButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none;
  }
}

/* ------------------------DESKTOP STYLES ------------------------ */
@media only screen and (min-width: 1440px) {
}
