.travellerStoryItem {
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  width: 421px;
  height: 677px;
  background-color: #e8eeff;
  overflow: hidden;
}

.storyThumbnail {
  display: block;
}

.storyWrapper {
  padding: 24px;
}

.storyContents {
  margin-bottom: 24px;
}

.regionTag {
  margin-bottom: 8px;
}

.storyTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  color: #000;
  margin: 0;
  margin-bottom: 8px;
}

.storyText {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000;
  margin: 0;
}

.storyAuthor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.authorAvatar {
  border-radius: 50%;
  margin-right: 16px;
}

.authorInfo {
}

.authorName {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin: 0;
}

.storyInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.storyDate {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin: 0;
}

.separator {
}

.numberOfSaves {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin: 0;
}

.storyDetailsLink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #000;

  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 315px;
  height: 48px;

  background-color: rgba(0, 0, 0, 0.05);
  text-decoration: none;
}

.saveButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.05);
  text-decoration: none;
}

.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
